a.btn-black {
  background-color: #000;
  padding: 1rem;
  color: #fff;
  margin-right: 1rem;
}

input.form-data {
  width: 100%;
  padding: .5rem 0;
  margin: 1rem 0;
}

.body .row {
  justify-content: space-between;
}

.form-box {
  width: 100%;
}
@media (min-width: 500px) {
  .form-box {
    width: 50%;
  }
}