#home {

    margin: 0%;
    padding: 0%;
}
nav {
    background-color: #000;
}

.btn-black {
    background-color: #000;
    padding: 1rem;
    color: #fff;
    margin-right: 1rem;
}

a,
nav a:hover {
    text-decoration: none;
    color: black;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
section.banner {
    height: 95vh;
    background-image: url('../img/md.jpg'); 
    background-size:cover;
    background-repeat:no-repeat;
    background-position: right;
    padding: 4rem 0;
}
.banner-text{
    padding: 5rem .7rem;
    background-color: #fff;
    border-radius: 40px;
}
.banner-heading{
    font-weight: bold;
    font-size: 3rem;
}
.banner-content{
    margin-bottom: 3rem;
}
.more-info{
    padding: 5rem 0;
}
.more-info .row {
    padding-bottom: 4rem;
}
.more-info .heading {
    font-weight: bold;
    font-size: 2.5rem;
}
.more-info .content {
    font-size: 1.2rem;
}

aside {
    flex-basis: 15%;
    background-color: #cccccc;
    /*    height: 30vh;*/
    border-right: 1px solid #bbbbbb;
    position: fixed;
}


#aside1 {
    border-left: 1px solid #bbbbbb;
    background-color: aqua;
}
